body {
	padding: 0px;
	margin: 0px;
	background: #f7f7f7;
	font-family: 'PT Sans', sans-serif;
	color: #333;
}
.wrapper {
	width: 900px;
	height: 100%;
	margin: 0px auto;
	background: white;
	border: 2px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1)
}
.header {
	height: 80px;
	border-bottom: 1px solid #eee;
}
.header .logo img{
	width: 151px;
	float: left;
}
.header .company-name{
	font-size: 1.5em;
    font-weight: bold;
    margin-left: 160px;
    padding: 16px;
}
.company-name .tag {
	font-size: 13px;
	display: block;
}
.navbar {
	height: 30px;
	border-bottom: 1px solid #eee;
	padding: 2px;
}
.navbar .nav-items {
	list-style: none;
}
.navbar ul {
	margin: 0px;
	padding: 5px;
}
.nav-items li {
	display: inline-block;
	margin-right: 30px; 
	text-transform: uppercase;
}
.active {
	font-size: large;
	font-weight: bold;
}
li.active a {
	color: #ec6952;
}
.nav-items li a:hover {
	color: orange;
}
.nav-items a {
	text-decoration: none;
	color: #333;
}
.banner {
	padding: 5px;
}
.banner .slider {
	background: url("../images/Banner-2_eec.jpg") no-repeat center;
	background-size: cover;
	height: 200px;
	animation: madhav 15s infinite;
    animation-direction: alternate;
}

/* Animation */

@keyframes madhav {
    from {background: url("../images/Banner-2_eec.jpg") no-repeat center;}
    to {background: url("../images/banner3.jpg") no-repeat center;}
}

.content {
	min-height: 450px;
	max-height: 100%;
	border-bottom: 1px solid #eee;
	padding: 5px;
	background: #f7f7f7;
	position: relative;
}
.content .main {
	width: 610px;
	background: white;
	min-height: 450px;
	padding: 10px;
}
.content .widget {
	position: absolute;
	top: 5px;
	right: 20px;
	width: 235px;
	margin: 0px 5px 0px 5px;
}
.widget .widget-content {
	height: 120px;
	background: white;
	width: 100%;
	padding: 10px;
	margin-bottom: 5px;
}
.footer {
	text-align: center;
	height: 100%;
}
