body {
	padding: 0px;
	margin: 0px;
	background: #f7f7f7;
	font-family: 'PT Sans', sans-serif;
	color: #333;
}
.wrapper {
	width: 900px;
	height: 100%;
	margin: 0px auto;
	background: white;
	border: 2px solid white;
	box-shadow: 0 0 10px rgba(0,0,0,0.1)
}
.header {
	height: 80px;
	border-bottom: 1px solid #eee;
}
.header .logo img{
	width: 151px;
	float: left;
}
.header .company-name{
	font-size: 1.5em;
    font-weight: bold;
    margin-left: 160px;
    padding: 16px;
}
.company-name .tag {
	font-size: 13px;
	display: block;
}
.navbar {
	height: 30px;
	border-bottom: 1px solid #eee;
	padding: 2px;
}
.navbar .nav-items {
	list-style: none;
}
.navbar ul {
	margin: 0px;
	padding: 5px;
}
.nav-items li {
	display: inline-block;
	margin-right: 30px; 
	text-transform: uppercase;
}
.nav-items li:hover {
	font-weight: bold;
}
.nav-items a {
	text-decoration: none;
	color: #333;
}
.content {
	height: 100%;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
.footer {
	text-align: center;
	height: 100%;
}
